@model Arcadia.ArcadiaFrontend.Models.IndexViewModel
<div class="editor-field">
    @Html.DropDownListFor(m => m.SelectedAirport, new SelectList(Model.Airports, "Icao", "Name"))
    @Html.EditorFor(model => model.Begin, new { @type = "date", @class = "form-control datepicker", @Value = Model.Begin.ToString("dd/MM/yyyy hh:mm") })
    @Html.EditorFor(model => model.End, new { @type = "date", @class = "form-control datepicker", @Value = Model.End.ToString("dd/MM/yyyy hh:mm") })
</div>
