@model IndexViewModel
<div class="container-fluid">
    <div class="form-horizontal">
        <div class="table-responsive table-striped table-hover">
            <table id="tArrivals"
                   data-toggle="table"
                   data-flat="true"
                   data-search="true"
                   data-pagination="true"
                   data-pagination-parts="pageList"
                   data-height="390"
                   data-virtual-scroll="true"
                   data-show-columns="true">
                <thead>
                    <tr>
                        @*<th data-field="icao24" data-sortable="true">Icao 24 bit</th>*@
                        <th data-field="estDepartureAirport" data-sortable="true">Departure airport</th>
                        <th data-field="callsign" data-sortable="true">CallSign</th>
                        <th data-field="estArrivalAirport" data-sortable="true">Arrival airport</th>
                        <th data-field="estDepartureAirportHorizDistance" data-sortable="true">Distance</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>