<div id="mapViewer" class="mapViewer"></div>
<div id="popup" class="ol-popup">
    <a href="#" id="aPopupCloser" class="ol-popup-closer"></a>
    <div id="popup-content" class="ol-popup-content"></div>
</div>