@{
    ViewData["Title"] = "Arcadia challenge";
}

@model Arcadia.ArcadiaFrontend.Models.IndexViewModel
@using (Html.BeginForm())
{

<div class="container-fluid">
    <div class="row-fluid">
        <div class="text-center" style="margin-top: 2em; margin-bottom: 2em">
            <h1 class="display-4">Arcadia Coding challenge</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <partial name="/Views/Controls/ArrivalsFilter.cshtml" />
            <input type="submit" class="btn btn-primary" id="bFilterArrivals" />
        </div>
        <div class="col-8">
            <div class="row" id="filteredArrivals">
                <partial name="/Views/Controls/ArrivalsFiltered.cshtml" />
            </div>
            <div class="row">
                Selected result
            </div>
        </div>
    </div>
</div>

}

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("#bFilterArrivals").click(function (e) {
                e.preventDefault();
                var _form = $(this).closest("form");
                $.post('/Home/FilterArrivals', _form.serialize(), function (res) {
                    $("#filteredArrivals").html(res);
                });
            });
        });
    </script>
}
