@{
    ViewData["Title"] = "Arcadia Coding challenge";
}

@model Arcadia.ArcadiaFrontend.Models.IndexViewModel
@using (Html.BeginForm())
{
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="text-center" style="margin-top: 0.4em; margin-bottom: 0.4em">
                <h1 class="display-5">Arrivals by Airport</h1>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-4 col-12">
                <partial name="/Views/Controls/ArrivalsFilter.cshtml" />
                <input type="submit" class="btn btn-primary" id="bFilterArrivals" />
            </div>
            <div class="col-lg-8 col-12">
                <div class="row" id="filteredArrivals">
                    <partial name="/Views/Controls/ArrivalsFiltered.cshtml" />
                </div>
            </div>
        </div>
        <div class="row">
            <partial name="/Views/Controls/MapViewer.cshtml" />
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="width: 48px">
                <span class="fa fa-spinner fa-spin fa-3x">Loading...</span>
            </div>
        </div>
    </div>
}

@section Styles {
    <link rel="stylesheet" href="~/lib/openlayers/css/ol.css" />
    <link rel="stylesheet" href="~/css/arcadia_ol_styles.css" />
}

@section scripts {
    <script type="text/javascript" src="~/lib/openlayers/js/ol.js"></script>
    <script type="text/javascript" src="~/js/arcadia_ol_scripts.js"></script>

    <script type="text/javascript">
        //Get & filter arrivals
        $(function () {
            $("#bFilterArrivals").click(function (e) {
                e.preventDefault();
                $('.modal').modal('show');
                try {
                    var _form = $(this).closest("form");
                    setTimeout(function () {
                        viewer.ClearFeatures();
                        $.ajax({
                            url: '/Home/GetFilteredArrivals',
                            timeout: 30000,
                            data: _form.serialize(),
                            success: function (response) {
                                $('#tArrivals').bootstrapTable('load', response)
                                viewer.AddVectorLayer(response);
                            },
                            error: function (response) {
                                //TODO: Timeout
                            }
                        });
                        $('.modal').modal('hide');
                    }, 800);
                }
                finally {
                    $('.modal').modal('hide');
                }
            });
        });

        //Select row in arrivals table
        $('#tArrivals').on('click', 'tbody tr', function (event) {
            $(this).addClass('highlight').siblings().removeClass('highlight');
        });
    </script>

    <script type="text/javascript">
        var airports = @Html.Raw(Json.Serialize(Model.WorldAirports));
        var viewer = new olViewer();
        viewer.Init('mapViewer', airports);
    </script>
}
